@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --lime--: hsl(61, 70%, 52%);
  --Red--: hsl(4, 69%, 50%);
  --White--: hsl(0, 0%, 100%);
  --Slate100--: hsl(202, 86%, 94%);
  --Slate300--: hsl(203, 41%, 72%);
  --Slate500--: hsl(200, 26%, 54%);
  --Slate700--: hsl(200, 24%, 40%);
  --Slate900--: hsl(202, 55%, 16%);
}

body {
  background-color: var(--Slate100--);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.layout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 950px;
  height: auto;
  border-radius: 5px;
}

.app {
  display: flex;
  gap: 25px;
  justify-content: center;
  background-color: var(--White--);
  border-radius: 25px;
}

/* calculator-section */

.calculator-section {
  padding: 2.5rem;
  flex: 50%;
}

/* section-one */

.section-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.section-one > h3 {
  font-size: 0.9rem;
  color: var(--Slate900--);
}
.clear {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.clear > p {
  text-decoration: underline;
  font-weight: 100;
  color: var(--Slate300--);
}

/* section-two */

/* .section-two {
  display: flex;
  flex-direction: row;
} */

.section-two-input-one {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.section-two-input-one > h3 {
  margin-bottom: 0.9rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--Slate500--);
}

.mortgage-amount-input {
  width: 100%;
  position: relative;
  display: grid;
  border: 1px solid var(--Slate300--);
  border-radius: 5px;
}

.pounds-icon {
  width: 50px;
  height: 40px;
  background-color: var(--Slate100--);
  display: grid;
  place-items: center;
  position: absolute;
  left: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: var(--Slate700--);
}

input:focus {
  outline: 1.5px solid var(--lime--);
}

.mortgage-amount-input:focus > .pounds-icon {
  color: var(--Slate900--);
  background-color: var(--lime--);
}

.amount-input {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  padding-left: 4rem;
  border-radius: 5px;
}

input:focus {
  outline: 1.5px solid var(--lime--);
}

/* second input field */
.section-two-input-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}

.mortgage_term > h3 {
  margin-bottom: 0.9rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--Slate500--);
}

.mortgage-term-input {
  width: 100%;
  position: relative;
  display: grid;
  border: 1px solid var(--Slate300--);
  border-radius: 5px;
}

/* .mortgage_input:focus {
  border: 2px solid var(--lime--);
} */

.mortgage_input {
  width: 200px;
  height: 45px;
  font-size: 1rem;
  padding-left: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

/* .mortgage_input:focus {
  border: 2px solid var(--lime--);
} */

.mortgage-icon {
  position: absolute;
  width: 55px;
  height: 45px;
  background-color: var(--Slate100--);
  display: grid;
  place-items: center;
  right: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--Slate700--);
  font-weight: 600;
}

/* third input field */
.section-two-input-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.interest_rate > h3 {
  margin-bottom: 0.9rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--Slate500--);
}

.interest_rate-input {
  width: 100%;
  position: relative;
  display: grid;
  border: 1px solid var(--Slate300--);
  border-radius: 5px;
}

.interest_input {
  width: 200px;
  height: 45px;
  font-size: 1rem;
  padding-left: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

.interest-icon {
  position: absolute;
  width: 55px;
  height: 45px;
  background-color: var(--Slate100--);
  display: grid;
  place-items: center;
  right: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--Slate700--);
}

.mortgage_type {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mortgage_type > h3 {
  margin-bottom: 0.9rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--Slate500--);
}

.mortgage_type_select {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.mortgage_select {
  width: 100%;
  height: 45px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--Slate700--);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-items: left;
  align-items: center;
  gap: 10px;
}

/* .mortgage_select:hover {
  background-color: var(--lime--);
  color: var(--White--);
} */

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--Slate700--);
  position: relative;
}

.active {
  background-color: var(--lime--);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 17%;
  top: 20%;
}

.mortgage_select > p {
  font-weight: 600;
  font-size: 1rem;
}

.calculate {
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--lime--);
}

.calculate > p {
  font-size: 1rem;
  font-weight: 600;
}

/* RESULT SECTION */
.empty-section {
  background-color: var(--Slate900--);
  width: 600px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.empty-section > h1 {
  color: var(--White--);
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.empty-section > p {
  color: var(--Slate300--);
  text-align: center;
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 1rem;
}

/* coding ninja */

.me {
  margin-top: 1rem;
}

.coding-ninja {
  text-align: center;
}

.coding-ninja > a {
  text-decoration: none;
  color: var(--Slate700--);
  font-size: 1rem;
}

/* results */
.results {
  background-color: var(--Slate900--);
  width: 600px;
  border-bottom-left-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: left;
  padding: 2rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.result-intro {
  color: var(--White--);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.result-intro > h1 {
  font-size: 1rem;
  margin-bottom: 0.9rem;
}

.result-intro > p {
  color: var(--Slate300--);
  font-weight: 400;
  font-size: 0.9rem;
}
.results-box {
  width: 400px;
  height: 200px;
  background-color: var(--Slate900--);
  margin-top: 1rem;
  border-top: 8px solid var(--lime--);
  border-radius: 8px;
  padding: 1rem;
}

.monthly-result {
  margin-bottom: 2rem;
}

.monthly-result > h1 {
  font-size: 3rem;
  color: var(--lime--);
}

.monthly-result > p {
  color: var(--Slate500--);
  font-size: 0.9rem;
}
.term-result {
  margin-bottom: 2rem;
}

.term-result > h2 {
  font-size: 1.5rem;
  color: var(--White--);
}

.term-result > p {
  color: var(--Slate500--);
  font-size: 0.9rem;
}

/* mobile-responsiveness for tablets */
@media screen and (max-width: 900px) {
  .app {
    flex-direction: column;
    margin-top: 2rem;
  }

  .me {
    margin-bottom: 2rem;
  }
}

/* mobile-responsiveness for phones */

@media screen and (max-width: 850px) {
  .app {
    margin-top: 2rem;
  }
  .layout {
    height: 600px;
    max-width: 350px;
  }

  .section-two-input-two {
    flex-direction: column;
  }

  .empty-section {
    width: 100%;
    border-bottom-left-radius: initial;
  }

  .results {
    width: 100%;
    border-bottom-left-radius: initial;
  }

  .results-box {
    width: 250px;
  }

  .me {
    margin-bottom: 2rem;
  }
}

/* form validation errors */

.error {
  margin-top: 0.5rem;
  color: var(--Red--);
}

.error-icon {
  background-color: var(--Red--);
  position: absolute;
  width: 55px;
  height: 45px;
  display: grid;
  place-items: center;
  right: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--White--);
  font-weight: 600;
}

.error-icon-pounds {
  width: 50px;
  height: 40px;
  background-color: var(--Red--);
  display: grid;
  place-items: center;
  position: absolute;
  left: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: var(--White--);
}

.error-input {
  border: 2px solid var(--Red--);
}
